<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Assistant</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/history">History</a>
            <a href="/about">About</a>

            <button id="darkModeBtn" class="dark-btn">
                 🌙 Dark Mode
            </button>
        </nav>
        
    <hr>
    <img src="/static/ai.png" 
        alt="AI Assistant" 
        class="ai_image">
    <h1> AI Assistant</h1>

    <p>
        Your intelligent companion for programming, AI, databases, and software development. <br>
        Ask questions. Get instant AI-powered answers.
    </p>

    <hr>

    <h2>Ask a Question</h2>

    <form method="post" action="/ask" id="askForm">

        <textarea
            id="questionBox"
            name="question" 
            rows="6"
            cols="80"
            maxlength="5000"
            placeholder=""
            required></textarea>

            <p> Characters:
                <span id="counter">0</span> / 5000

            </p>

        <br><br>

        <button id="askButton" type="submit"> ✨ Get Answer </button>
       <p id="loading" style="display:none;">
        Generating response...
        </p>

    </form>

    <hr>

    <h2>AI Response</h2>

    <div class="response" id="aiResponse">
          {% if answer %}

        <p>{{ answer }}</p>
            <button onclick="copyResponse()">
            ⧉ Copy Response
            </button>
    {% else %}

        <p>Your generated answer</p>

    {% endif %}
       
    </div>

    <footer>
    

    <p>Built with</p>

    <p>
        Python • FastAPI • HTML • CSS • JavaScript
    </p>

    <p>
        &copy; 2026 Krishani Dona
    </p>

</footer>

    </div>
    



<script src="/static/app.js"></script>

</body>

</html>

